* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #B621FE 0%, #1FD1F9 100%);
    color: white;
}
header {
    font-size: 2rem;
    letter-spacing: 1px;
    width: fit-content;
    margin: auto;
}

button {
    cursor: pointer;
    border-radius: 10px;  
}

.redirectButton {
    width: 100px;
    height: 30px;
    /*background-image: linear-gradient(100deg, #1FD1F9 0%, #B621FE 100%);*/
    opacity: 0.6;
    border: solid black 2px;
    display: block;
    font-size: 1.2rem;
    margin: 20px auto;
    text-align: center;
    line-height: 25px;
}

form {
    margin: 30px auto;
    text-align: center;
}

.formButton {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin: 20px auto;
  text-align: center;
  line-height: 30px;  
}

.formButton:hover {
  
}

.container {
  display: flex;
}

.list {
  list-style: none;
  text-align: center;
}

.element {
  min-width: 30%;
  min-height: 20%;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;

  border-radius: 20px;
  display: inline-block;
  padding: 0.5rem;
  vertical-align: middle;

  box-shadow: 20px 40px 18px -8px rgba(0, 0, 0, 0.1);
  }

  .element li{
    
  }

  .element-item {
    float: right;
  }

  .complete-btn,  .trash-btn {
    margin-top: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    position: relative; 
    text-align: center;
  }

  .complete-btn {
    background: rgb(0, 212, 60);
  }
  .trash-btn {
    margin-left: 0.7rem;
    background: rgb(255, 34, 34);
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .complete-btn:hover, .trash-btn:hover {
    opacity: 0.8;
  }